body{
    background-image:url("/img/background.jpg");
    background-size: cover;
}
.sitetitle{
    position: sticky;
    left:auto;
    top: 2%;
    color:black;
    font-size:5vw;
    font-family: 'Times New Roman', Times, serif;
}
.left-box{
    width: 35%;
    height: 104%;
    position:fixed;
    left:0px;
    top:0pc;
    background-color:white;
}