html{
    height: 100%;
    width: 100%;
}
body{
    background-image:url("/img/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.sitetitle{
    text-align: center;
    color:skyblue;
    font-size:5vw;
    font-family: 'Times New Roman', Times, serif;
}
.left-box{
    width: 40%;
    height: 100%;
    position:fixed;
    left:0px;
    top:0px;
    background-color:white;
}