html{
    height: 100%;
    width: 100%;
}
body{
    background-image:url("/img/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.sitetitle{
    width:60%;
    position: sticky;
    left:20%;
    top: 5%;
    color:black;
    font-size:8vw;
    font-family: 'Times New Roman', Times, serif;
}
.left-box{
    width: 50%;
    height: 100%;
    position:fixed;
    left:0px;
    top:0px;
    background-color:white;
    opacity: 0.6;
}